#!/usr/bin/make -f
%:
	dh $@
 
BUILD_DIR=$(CURDIR)/debian/tmp
OCAML_BUILD_DIR=$(CURDIR)/_build/src

override_dh_auto_configure:
	ocaml setup.ml -configure

override_dh_auto_build:
	ocaml setup.ml -build

override_dh_auto_install:
	install -d -m0755 $(BUILD_DIR)/usr/lib/srsly
	install -d -m0755 $(BUILD_DIR)/var/lib/srsly
	install -d -m0755 $(BUILD_DIR)/etc/srsly
	install -d -m0755 $(BUILD_DIR)/etc/rsyslog.d
	install -d -m0755 $(BUILD_DIR)/usr/sbin
	install -m0600 etc/srslyd.conf $(BUILD_DIR)/etc/srsly/srslyd.conf
	install -m0644 debian/rsyslog.conf $(BUILD_DIR)/etc/rsyslog.d/srsly.conf
	build=_build/src
	install -m0700 $(build)srslyd.native $(BUILD_DIR)/usr/lib/srsly/srslyd
	install -m0700 $(build)srsly_in.native $(BUILD_DIR)/usr/lib/srsly/srsly_in
	install -m0700 $(build)srsly_out.native $(BUILD_DIR)/usr/lib/srsly/srsly_out

override_dh_auto_clean:
	ocaml setup.ml -distclean

override_dh_auto_test:
